
{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .box{
        width: 23%;
        height: 500px;
        float: left;
        background-color: rgb(234, 248, 205);
        padding: 5%;
        
    }
   
</style>
<main>
    {%for i in all_covers %}
        <div class="box">
            <img src=images/{{i.photo}} alt={{i.phone}}_cover style="height: 80%; width :96%; margin-left: 2%;">
            <div style="text-align: center;height: 20%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                <b>{{i.phone}}</b>
                <br>
                <strong style="font-size: xx-large;">$ {{i.price}}</strong>
                <br>
                <Button><a href="http://127.0.0.1:8000/productcover/{{i.id}}" style="text-decoration: none; color: white;">Buy Now</a></Button>
            </div>

        </div>
        
    {% endfor %}
    <div style="background-color: rgb(234, 248, 205); color: rgb(234, 248, 205);">
        CoverCraft
    </div>
</main>
{% endblock %}