{% extends 'base.html' %}
{% block content %}

<style>
    .box{
        width: 23.33%;
        height: 500px;
        float: left;
        background-color: rgb(240, 224, 235);
        padding: 5%;
        
    }
   
</style>
<main>
    <div style="height: 500px; text-align: center; background-color: rgb(240, 224, 235)">
        
       
        <video width="80%" height="500px"  autoplay muted loop>
            <source src="images/video.mp4" type="video/mp4">
            

        </video>
    </div>
    

    {%for i in all_covers %}
        {% if i.id == 1 or i.id == 2 or i.id == 3 %}
            <div class="box">
                <img src=images/{{i.photo}} alt={{i.phone}}_cover style="height: 80%; width :96%; margin-left: 2%;">
                <div style="text-align: center;height: 20%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    <b>{{i.phone}}</b>
                    <br>
                    <strong style="font-size: xx-large;">$ {{i.price}}</strong>
                    <br>
                    <Button><a href="http://127.0.0.1:8000/productcover/{{i.id}}" style="text-decoration: none; color: white;">Buy Now</a></Button>
                    
                </div>

            </div>
        {% endif %}
    {% endfor %}

    
    <div style="background-color: rgb(240, 224, 235); color: rgb(240, 224, 235);">
        CoverCraft
    </div>
</main>
{% endblock %}